 :root {
   --primary-brand-color: #4D5AE5;
   --pressed-state-color: #404BBF;
   --dark-color: #2E2F42;
   --success-color: #31D0AA;
   --text-color: #434455;
   --subtle-text-color: #8E8F99;
   --accent-color: #E7E9FC;
   --light-color: #F4F4FD;
   --modal-overlay-color: #2E2F42;
   --hero-background-color: #2E2F42;
   --white-background-color: #FFFFFF;
   --modal-background-color: #FCFCFC;
   --logo-color: #4d5ae5;
   --dark-blue-color: #2e2f42;
   --button-color: #e7e9fc;
 }
 body {
     font-family: 'Roboto', sans-serif;
     color: #434455;
     background-color: #FFFFFF;
 }
 img {
    display: block;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
    margin: 0;
 }
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--logo-color);
    margin-right: 76px;
}
.logo::before {
    color: var(--logo-color);
}
.link {
    text-decoration: none;
}
.logo-studio {
    color: var(--dark-blue-color);
}
.logo-studio-footer {
    color: #f4f4fd;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-section-two {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
    align-items: center;
}
.section-three-item {
    width: calc((100% - 48px)/3);
}
.section-four-item {
    margin: 0px;
    padding: 0px;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    align-items: center;
}
.section-five-item {
    height: 88px;
    width: 190px;
}
.section-five-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--subtle-text-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-five-link:hover {
    border-color: #404bbf;
    color: #404bbf;
}
.section-five-link:focus {
    border-color: #404bbf;
    color: #404bbf;
}
.section-five-svg {
    fill: currentColor;
}
.span {
    color: #f4f4fd;
}
.nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
}
.nav-link:hover {
    color:#404bbf;
}
.nav-link:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}
.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}
.mail {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.mail:hover {
    color: #404bbf;
}
.mail:visited {
    color: #404bbf;
}
.button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    max-width: 496px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: auto;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
.button:active {
    background-color: #404BBF;
}
.button-main-section {
    cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--logo-color);
        background-color: var(--light-color);
        padding: 12px 24px;
        border: 1px solid var(--button-color);
        border-radius: 4px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.button-main-section:hover {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);;
}

.button-main-section:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        ;
}

.button-main-section:active {
    background-color: #404BBF;
}
.tag {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.section-one {
    background-color: #2e2f42;
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hw4/people-office-mobile.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.section-two {
    padding: 96px 0;
}
.section-three {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-blue-color);
}
.section-four {
    background-color: #F4F4FD;
    padding: 96px 0;
}
.section-five {
    padding-top: 120px;
    padding-bottom: 120px;
}
.footer {
    background-color: #2e2f42;
    padding: 96px 0 96px 0;
    align-items: center;
    flex-wrap: wrap;
}
.section-one-text {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    color: var(--white-background-color);
    line-height: 1.11;
    text-align: center;
    max-width: 320px;
    margin: 0 auto 72px auto;
    text-align: center;
}
.section-two-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);
}
.section-text {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--dark-blue-color);
    margin-bottom: 72px;
    align-items: flex-start;
}
.section-text-values {
    font-size: 36px;
        line-height: 1.11;
        font-weight: 700;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: var(--dark-blue-color);
        margin-bottom: 72px;
        align-items: flex-start;
    }
.section-three-text {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--dark-blue-color);
    margin-bottom: 72px;
    align-items: flex-start;
}
.section-two-header {
    margin-bottom: 8px;
}
.section-four-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);
    text-align: center;
    margin-bottom: 8px;
}
.section-two-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    font-weight: 500;
}
.section-two-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.section-four-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 8px;
}
.section-four-svg {
    fill: var(--light-color)

}
.section-four-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.section-four-icons {
    width: 40px;
    height: 40px;
    justify-content: center;
}
.section-four-icons-list {
    width: 100%;
    height: 100%;
    background-color: var(--logo-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-four-icons-list:hover {
    background-color: #404bbf;
}
.section-four-icons-list:focus {
    background-color: #404bbf;
}
.section-four-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
    align-items: center;
}
.section-five-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
    align-items: center;
}
.heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);
    margin-bottom: 8px;
}
.paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.logo-link-footer {
    display: block;
    margin: 0;
    text-align: center;
    margin-bottom: 16px;
}
.section-four-color {
    background-color: #FFFFFF
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}
.container {
    margin: 0 auto;
    padding: 0 15px;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 24px 0;
}
.list-section-three {
    gap: 24px;
    display: flex;
}
.name-and-position {
    padding: 32px 0px;
}
.main-section-portfolio {
    padding: 96px 0 120px 0;
}
.name-and-category-of-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.address-link {
    display: none;
}
.portfolio-buttons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    display: flex;
    margin-bottom: 72px;
}
.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-item {
}
.portfolio-item:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-link {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-portfolio-main-section {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-list-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
            
}
.nav-list {
    display: none;
}
.social-media-footer {
    color: var(--white-background-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-bottom: 16px;
    flex-direction: column;

}
.footer-container {
}
.footer-social-media-icons {
    height: 40px;
    width: 40px;
}
.footer-label {
    display: flex;
    gap: 24px;
}
.footer-social-media-icons-list {
    width: 100%;
    height: 100%;
    background-color: var(--logo-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-media-icons-list:hover {
    background-color: #31d0aa;
}
.footer-social-media-icons-list:focus {
    background-color: #31d0aa;
}
.footer-svg {
    fill: var(--light-color);
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.index-link {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.index-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}
.order-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.portfolio-link {
    position: relative;
    color: #404bbf;
}
.portfolio-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;

}
.button-modal-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal-svg:hover {
    fill: #ffffff;
}
.button-modal-svg:focus {
    fill: #ffffff;
}
.portfolio-app {
    position: relative;
    overflow: hidden;
}
.portfolio-app-paragraph {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-link:hover .portfolio-app-paragraph {
    transform: translateY(0%);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-item-link:focus .portfolio-app-paragraph {
    transform: translateY(0%);
}
.modal-box-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 16px;
}
.modal-box-name {
    margin-bottom: 8px;
}
.modal-box-name-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
    display: block;
    margin-bottom: 4px;
}
.modal-box-name-label-div {
    position: relative;
}
.modal-box-name-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-box-name-input:focus {
    border-color: #4D5AE5;
}
.modal-box-name-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-box-phone-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-box-name-input:focus + .modal-box-name-svg {
    fill: #4D5AE5;
}
.modal-box-name-four {
    margin-bottom: 16px;
}
.modal-box-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-box-textarea:focus {
    border-color: #4D5AE5;
}
.modal-box-name-five {
    margin-bottom: 24px;
}
.checkbox-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
}
.checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
}
.checkbox-input:checked {
    outline: 2px solid #2196f3;
    outline-offset: 2px;
}
.checkbox-input:checked + .checkbox-label .checkbox-span {
    background-color: var(--pressed-state-color);
    border: none;
    fill: var(--light-color);
}
.checkbox-link {
    color: var(--logo-color);
}
.button-modal-send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
}
.modal-links {
    color: var(--dark);
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.11;
    padding-top: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background-color: var(--modal-background-color);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    overflow: auto;
    }
.menu-container.is-open {
    transform: translateX(0);
    }
.menu-container .nav-list {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
    }
.menu-container .address {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 48px;
}  
.logo-footer {
    color: var(--light-color);
    font-weight: 400;
    max-width: 264px;
    line-height: 1.5;
}
.social-media-footer-list {
    display: flex;
    gap: 16px;
}
.footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.mobile-menu .link {
    display: block;
        padding: 10px;
        color:#2E2F42;
        text-decoration: none;
    }
.mobile-menu .link:hover {
    color: var(--pressed-state-color);
        }
.address-mobile {
    font-style: normal;
        }
.address-link-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
    color: var(--dark-blue-color);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.04em;
}
.address-link-mobile-phone {
    color: var(--pressed-state-color);
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.11;
    padding-top: 120px;
    margin-bottom: 48px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-footer-list-mobile {
    display: flex;
    gap: 56px;
}
.footer-paragraph {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}
.footer-form {
}
.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    gap: 24px;
}
.footer-button-icon {
    margin-left: 16px;
}
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
@media screen and (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hw4/people-office-mobile@2x.jpg");
    }
}
/* ================================================= MOBILE 👇 ========================================= */
@media screen and (max-width: 767px) {
    .container {
        max-width: 428px;
    }

    .footer-input {
        width: 100%;
    }
    .footer-container-div-first {
            margin-bottom: 72px;
    }
    .logo-link-footer {
        margin: 0 auto;
    }
    .social-media-footer {
        text-align: center;
    }
    .social-media-footer-list {
        justify-content: center;
    }
    .footer-button {
        margin: 0 auto;
        margin-top: 16px;
    }
 }
/* ================================================= TABLET 👇 ========================================= */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .div-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .menu-toggle {
        display: none;
    }
    .menu-toggle:hover,
    .menu-toggle:focus {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .js-open-menu {
        display: none;
    }

    .section-one {
        max-width: 1157px;
        height: 436px;
    }
    .address-link {
        font-size: 12px;
        letter-spacing: 0, 04em;
        line-height: 1.17;
        font-weight: 400;
        color: var(--text-color);
        display: flex;
    }
    .nav-link {
        font-size: 12px;
        letter-spacing: 0, 04em;
        line-height: 1.17;
        color: var(--text);
        font-weight: 500;
        font-size: 16px;
    }
    .section-text {
        text-align: center;
    }
    .section-text-values {
        text-align: left;

    }

    .section-one-text {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 36px auto;
    }

    .navigation {
        justify-content: flex-start;
        padding: 0;
    }
    .section-two-item {
        flex-basis: calc((100% - 24px) / 2);
        margin: 0px;
        padding: 0px;
        }
    .section-four-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }

    .section-four-item {
        margin: 0px;
        padding: 0px;
        width: calc((100%-24px) / 2);
    }

    .list-section-two {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    }
    .footer-container {
        max-width: 530px;
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;

    }

    .footer-container-div-first {
        margin: 0;
    }

    .logo-link-footer {
        text-align: left;
    }

    .footer-paragraph {
        text-align: left;
    }

    .footer-label {
        width: 264px;
    }

    .footer-div {
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    .nav-list {
        list-style: none;
        margin: 0;
        padding-left: 0;
        display: flex;
        gap: 40px;
        justify-content: space-between;
    }

    .address {
        font-style: normal;
    }
    .link-contacts-transition {
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .link-menu {
        padding: 24px 0 24px 0;
        display: inline-block;
    }

    .index-link {
        position: relative;
        color: var(--pressed-state-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .index-link::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -1px;
        height: 4px;
        background-color: var(--pressed-state-color);
        border-bottom: 2px;
        border-radius: 2px;
        width: 100%;
        display: block;
    }

    .modal-window {
        width: 408px;
    }
.section-five-list {
    
}
    @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .section-one {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/hw4/people-office-tablet@2x.jpg");
        }
    }
}

/* ================================================= NOT DESKTOP 👇 ========================================= */
@media screen and (max-width: 1157px) {

    .section-two-icons,
    .section-three-item,
    .section-three-text {
        display: none;
    }
}

/* ================================================= DESKTOP 👇 ========================================= */
@media screen and (min-width: 1158px) {
    .container {
        min-width: 1158px;
        padding: 0;
    }

    .div-container {
        align-items: center;
        justify-content: space-between;
    }
    .address {
        align-items: center;
        justify-content: space-between;
    }

    .heading-flex {
        justify-content: center;
        max-width: 496px;
    }

    .section-one-text {
        margin: 0 auto 48px auto;
    }

    .nav-list {
        list-style: none;
        margin: 0;
        padding-left: 0;
        display: flex;
        gap: 40px;
        justify-content: space-between;
    }
    .address {
        font-style: normal;
    }

    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: flex-end;
        padding: 24px 0px 24px 0px;
        margin: 0;
    }
    .section-five-list {
        flex-wrap: nowrap;
    }
    .section-two-header {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--dark-blue-color);
        }

    .address-link {
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        color: var(--text);
        display: inline-block;
    }

    .link-contacts-transition {
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .link:hover,
    .link:focus {
        color: var(--pressed-state);
    }

    .link-menu {
        padding: 24px 0 24px 0;
        display: inline-block;
    }
    .section-text {
        text-align: center;
    }
    .section-text-values {

    }
    .logo-link-footer {
        position: relative;
        color: var(--pressed-state-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .logo-link-footer::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -1px;
        height: 4px;
        background-color: var(--pressed-state);
        border-bottom: 2px;
        border-radius: 2px;
        width: 100%;
        display: block;
    }

    .section {
        padding-bottom: 120px;
    }
    .logo-link {}

    .section-two-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .list-section-two {
        max-width: 1158px;
    }

    .footer-container {
        align-items: baseline;
        max-width: 1160px;
        column-gap: 0;
        display: flex;
    }
    .paragraph-footer {
        margin-bottom: 0;
    }

    .footer {
        padding: 100px 0;
    }

    .footer-container-div-first {
        margin: 0 120px 0 0;
    }

    .social-media-footer {
        text-align: left;
    }

    .footer-form {
        justify-content: flex-end;
        margin-left: 80px;
    }

    .input-subscribe {
        width: 264px;
    }

    .footer-paragraph {
        margin-left: 80px;
    }

    .section-one {
        max-width: 1440px;
        padding: 112px 0;
        display: block;
        height: 600px;
    }

    .heading-third-feature {
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .section-two {
    }

    .paragraph {
        font-weight: 400;
    }

    .section-four {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .section-one {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/hw4/people-office.jpg@2x.jpg");
        }
    }
}